@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-full-screen {
  top: 10px;
  left: 10px;
  background: None;
}
.ol-full-screen button {
  background-color: rgba(255,255,255,0.8);
}
.ol-full-screen button:hover {
  background-color: rgba(255,255,255,1.0);
}
.ol-zoom {
  top: 50px;
  left: 10px;
}
.ol-zoomslider {
  top: 100px;
  left: 10px;
  height: 200px;
}
